/*
  Global
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  label { display: inline-block; width: 210px; text-align: right; }

  .sendmessage {
    padding: 20px;
    margin-left: 200px;
    margin-right: 745px;
    
  }


  .formwrapper{
    text-align: center;
  }


  Form
  form input:focus{
    border: 2px solid #000 ;
  }

  form input{
    border-radius: 10px;
    padding: 8px;
    border: 3px solid black
  }

 Submit Button
  input[type=submit]{
    background-color: #000;
    color: #fff;
    margin: auto 265px;
    cursor: pointer;

  }

  Message Area
  textarea{
    border-radius: 10px;
    border: 3px solid black;
    width: 300px;
    height: 100px;
    resize: none;
  }

*/
.btn-wrap{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: 20em;
  margin-right: 20em;
}

i{
  font-size: 50px;
}
.fa {
  padding: 40px;
  width: 50px;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #000;
  color: white;
  
  
}

.fa-instagram {
  background: #000;
  color: white;
}

.fa-github {
  background: #000;
  color: white;
}




/* Footer */
.footer{
  background-color: #000;
}

.footer p{
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
  margin-top: 100px;
}


