* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

form input:focus{
  border: 2px solid #000 ;
}

form input{
  border-radius: 10px;
}

textarea{
  border-radius: 10px;
}

textarea:focus{
  border: 2px solid #000 ;
}


/* Footer */
.footer{
  background-color: #000;
}

.footer p{
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
  margin-top: 100px;
}