* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
}

form input:focus{
  border: 2px solid #000 ;
}

form input{
  border-radius: 10px;
}

textarea{
  border-radius: 10px;
}

textarea:focus{
  border: 2px solid #000 ;
}
