/*
*{
margin: 0;
padding: 0;

}
*/


body{
  background-color: #f4f4f4;
  color: #555555;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;

  /* space between lines */
  line-height: 1.6em;

  margin: 0;
}

/* Applies to All Links */
a{
  /* Removes Underline*/
  text-decoration: none;
  color: #000;
}

a:hover{
  color: red;
}

a:active{
  color: green;
}

a:visited{
  color:none;
}



.container{
width: 80%;
margin: auto;

}

.box-1{
  background-color: #333;
  color: #fff;
  border: 5px red solid;
  border-width: 3px;
  border-bottom-width: 10px;
  border-top-style: dotted;

  padding: 20px;

  margin-top: 20px;
}

.box-1 h1{
  font-family: Tahoma;
  font-weight: 800;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;

}

.box-2{

  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 1px #ccc solid;
  padding: 10px;
  /* Rounded Corners */
  border-radius: 15px;

}

.categories h2{
  text-align: center;

}

.categories ul{
  padding: 0;
  list-style: none;
}

.categories li{
  padding-bottom: 8px;
  border-bottom:dotted 1px #333;
  list-style-image: url('../Personal website 1/check.png');
}