/*Global */
* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}




/* Footer */
.footer{
  background-color: #000;
}

.footer p{
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
  margin-top: 100px;
}



