/*Global */
* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  font-weight: bold;  
}

a:active {
  text-decoration: underline;
}


/* Navbar */
.navbar{
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar h1{
  color: #fff;
}

.nav-link{
  text-decoration: none;
  overflow: hidden;
  display: inline;
}


.nav-links{


}

.selected{
  text-decoration: underline;
}


/* Footer */
.footer{
  background-color: #000;
}

.footer p{
  color: #fff;
  text-align: center;
  padding: 25px;
  font-size: 1.2em;
}

/* CSS Grid */

.about-me{
  padding: 60px 0px 40px 0px ;
}


