
/* Global */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}



/* Landing */

.landing{
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.landing h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
  
}

.landing h3 {
  color: #ffffff;
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  margin-top: 0;
}



.btn {
  text-decoration: none;
  color: #ffffff;
  border: #ffffff 3px solid;
  border-radius: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 15px;
  margin: 0 15px;
  text-transform: uppercase;
  
}

/* About Me */

.about-me-cont{
  background-color:#F0F0F0 ;
}

#about-me{
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  }

#about-me h1 {
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

#about-me p {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

/* Skills */
.skills {
 margin-top: 0px;
  color: #000000;
  font-size: 12px;
  padding: 35px 0;
  margin-bottom: 0px;
  background-color:#F0F0F0 ;

  
}

.skills h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.skills-inner {
text-align: center;
margin: 0 auto;
padding: 0 20px;
display: grid;
grid-template-columns: 1fr 1fr;

align-items: flex-start;
justify-content: center;

font-size: 25px;
font-family: 'Rubik', sans-serif;
font-weight: 300;
}

.skills li {
  line-height: 2.8;
  list-style: none;
}

.skills a{
  text-decoration: none;
  color: #000000;
}

/* Projects */

#projects {
  text-align: center  ;
  margin-bottom: 100px;
  margin-top: 40px;
}

#projects h1{
  margin-bottom: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 35px;
}

#projects h2{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

#projects p{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

#projects a{
  text-decoration: none;
  padding: 20px;
  margin-top: 40px;
}

.projects-inner{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 120px ;
  margin-bottom: 40px;
  max-width: 1300px;
  margin: auto;


}

.projects-inner   a:visited {
  color: #0000EE;
}

.projects-inner h2, p, a {
  text-align: left;
}

#projects img {
  width: 100%;
}

/* Contact */


.contact-inner{
  text-align: center;
  background-color:#F0F0F0 ;
}

.contact-inner h1{
  margin-bottom: 10px;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-top: 25px;
}

.contact-inner i {
  color: #000;
}

.contact-inner p{
  text-align: center;
}


.socials {
  font-size: 50px;
  margin: 0px 30px;
}

.email-address {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
}

.email {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 50px;
}


/* Responsive Design */

@media (max-width: 1725px) {
  .skills-inner{
    font-size: 20px;
  }
}


@media (max-width: 1567px) {
  .skills-inner{
    font-size: 25px;
  }

  #about-me h1{
    font-size: 30px;
  }

  #about-me p{
    font-size: 25px;
  }
}


@media (max-width: 1362px) {
  .projects-inner {
    display: grid;
    grid-template-columns:repeat(1,1fr);
    width: 60%;


  }
}

@media (max-width: 1250px) {


  #about-me p{
    font-size: 20px;
  }
}


@media (max-width: 1050px) {

  body{
    overflow-x: hidden;
  }
  #about-me p{
    font-size: 18px;
    width: 80%;
  }

  .skills{
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  flex-wrap:wrap
  }
  .skills h1{
    flex: 0 0 100%;
  }

}



@media (max-width: 500px) {

  .landing h1 {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
 
}
.landing h3 {
  color: #ffffff;
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
  margin-top: 0;
}

.btn {
  border: #ffffff 3px solid;
  border-radius: 25px;
  font-size: 15px;
  padding: 8px;
}


#about-me p {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.skills-inner {
  display: flex;
  flex-direction: column;
  font-size: 10px;

  }

  .skills h1 {
    margin-bottom: 0px;
    font-size: ;
 
  }

}