*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

.wrapper{
  background-color: #000000;
  height: 100vh;

}

.headertext h1 {
  color: #ffffff;
  text-align: center;
}

.headertext h3 {
  text-align: center;
  color: #ffffff;
}

.buttons {
  text-align: center;
  text-decoration: none;
  
}

.btn {
  text-decoration: none;
  color: #000;
}