*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

.landing{
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.landing h1 {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  
}

.landing h3 {
  color: #ffffff;
  font-family: 'Spartan', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}


.btn {
  text-decoration: none;
  color: #ffffff;
  border: #ffffff 3px solid;
  border-radius: 25px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  
}

#about-me{
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
  }

#about-me h1 {
  margin-top: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  font-weight: 500;
  
}

#about-me p {
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.skills ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}